/* Global font settings */

body {
  font-family: $body-font;
  font-size: 16px;
  color: #444;
}

header {
  text-align: center;

  h1, h2 {
    font-family: $header-font;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
  }
}

blockquote {
  text-align: center;
  font-family: $header-font;
  font-size: 1.75rem;

  cite {
    font-size: 1.25rem;
  }
}

#projects {
  h2 {
    text-align: center;
  }
}

.card {
  p {
    text-align: center;
  }
}